.crossing_name {
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}

.time-value {
  font-size: 1.3rem;
  font-weight: 600;
}

.time-variation {
  font-size: 1rem;
}

.times-container {
  border: 1px solid #92949c;
  border-radius: 10px;
  margin: -10px 0 5px -5px;
  min-width: 300px;
  padding: 10px;

  ion-col {
    ion-row {
      justify-content: center;
    }
  }

  ion-col:first-child {
    border-right: 1px solid #92949c;
  }

  ion-col:last-child {
    border-left: 1px solid #92949c;
  }
}
