<ion-card *ngIf="pwt && port">
    <ion-card-header>
        <ion-card-title class="crossing_name">{{port.details.crossing_name || port.details.name}}</ion-card-title>
        <ion-label class="subtitle" color="medium">{{port.details.name}}</ion-label>
    </ion-card-header>

    <ion-card-content>
        <ion-grid>
            <ion-row class="times-container ion-margin-bottom" size="12">
                <ion-col>
                    <ion-row>
                        <ion-label class="subtitle" color="medium">Standard</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label class="time-value" color="dark">
                            {{selectedLane?.standard?.delay_minutes}}m
                        </ion-label>
                    </ion-row>
                    <ion-row>
<!--                        <ion-label class="time-variation" color="danger">-->
<!--                            <ion-icon name="caret-up"></ion-icon>-->
<!--                            40m-->
<!--                        </ion-label>-->
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row>
                        <ion-label class="subtitle" color="medium">Ready</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label class="time-value" color="dark">
                            {{selectedLane?.ready?.delay_minutes}}m
                        </ion-label>
                    </ion-row>
                    <ion-row>
<!--                        <ion-label class="time-variation" color="success">-->
<!--                            <ion-icon name="caret-down"></ion-icon>-->
<!--                            10m-->
<!--                        </ion-label>-->
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row>
                        <ion-label class="subtitle" color="medium">Sentri</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label class="time-value" color="dark">
                            {{selectedLane?.fast?.delay_minutes}}m
                        </ion-label>
                    </ion-row>
                    <ion-row>
<!--                        <ion-label class="time-variation" color="danger">-->
<!--                            <ion-icon name="caret-up"></ion-icon>-->
<!--                            40m-->
<!--                        </ion-label>-->
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-label>
            Updated 1 hour ago
        </ion-label>
    </ion-card-content>
</ion-card>
