<ion-header>
    <ion-toolbar>
        <ion-title>pwt-list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>West</ion-card-title>
            <ion-card-subtitle>Calexico</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row class="times-container ion-margin-bottom" size="12">
                    <ion-col>
                        <ion-row>
                            <ion-label>Standard</ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label class="time-value" color="primary">
                                1h 40m
                            </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label color="danger">
                                <ion-icon name="caret-up"></ion-icon>
                                40m
                            </ion-label>
                        </ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-row>
                            <ion-label>Standard</ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label class="time-value" color="primary">
                                1h 10m
                            </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label color="success">
                                <ion-icon name="caret-down"></ion-icon>
                                10m
                            </ion-label>
                        </ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-row>
                            <ion-label>Standard</ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label class="time-value" color="primary">
                                40m
                            </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-label color="danger">
                                <ion-icon name="caret-up"></ion-icon>
                                40m
                            </ion-label>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-label>
                Updated 1 hour ago
            </ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>
