<ion-header>
    <ion-toolbar>
        <ion-title>Port Wait Times</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="openPorts()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ng-container *ngFor=" let pwt of pwts$ | async">
        <app-pwt [port]="portFacade.getFirstOrLoadPorts(pwt.id) | async" [pwt]="pwt"
                 [state]="pwtFacade.selectedLane | async"></app-pwt>
    </ng-container>
</ion-content>
