<ion-header>
    <ion-toolbar>
        <ion-title>pwt-list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>West</ion-card-title>
            <ion-card-subtitle>Calexico</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-grid class="times-container">
                <ion-row class="ion-align-items-center">
                    <ion-col>
                        <ion-label>
                            Standard
                        </ion-label>
                        <ion-text color="primary">
                            <h1>1h 40m</h1>
                        </ion-text>
                        <ion-label color="danger">
                            <ion-icon name="caret-up"></ion-icon> 40m
                        </ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>
                            Ready
                        </ion-label>
                        <ion-text color="primary">
                            <h1>1h 10m</h1>
                        </ion-text>
                        <ion-label color="success">
                            <ion-icon name="caret-down"></ion-icon> 10m
                        </ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>
                            Standard
                        </ion-label>
                        <ion-text color="primary">
                            <h1>40m</h1>
                        </ion-text>
                        <ion-label color="danger">
                            <ion-icon name="caret-up"></ion-icon> 20m
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
           Updated 1 hour ago
        </ion-card-content>
    </ion-card>


</ion-content>
