.time-value {
  font-size: 24px;
  font-weight: bold;
}

.times-container {
  min-width: 360px;
  border: 1px solid #92949c;
  border-radius: 10px;

  ion-col {
  }

  ion-col:first-child {
    border-right: 1px solid #92949c;
  }

  ion-col:last-child {
    border-left: 1px solid #92949c;
  }
}
